.wrapper{
    cursor: pointer;
    text-align: center;
    color: #333333;
    font-weight: 400;
    padding-top: 10px;
    span{

        display: block;
        width: 100%;
    }
    svg{
        height: 20px;
        width: 20px;
    }
    &:hover{
        color: #565656;
    }
}
