
.wrapper {
    position: absolute;
    z-index: 20;
    padding-top: 20px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height:calc(100vh - 100px);
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: scroll;
}

.content {
    width: max-content;
    margin: 0 auto;
    img {
        border-radius: 10px;
    }
}

.close_btn {
    position: absolute;
    right: 15%;
    top: 5%;

}

.likes_with_comments{
    background-color: white;
    border-radius: 8px;
    padding: 10px 40px;

}

.likes_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  span:first-child{
      display: block;
      width: 100%;
      text-align: center;
  }
}